<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h2>Password Manager: Credentials</h2>
    <h1>Welcome, {{ current_user.username }}!</h1>

    <a href="{{ url_for('logout') }}">Logout</a>

    <h2>Your Credentials:</h2>
    <ul>
        {% for credential in credentials %}
            <li>
                <strong>Website:</strong> {{ credential.website }}<br>
                <strong>Username:</strong> {{ credential.username }}<br>
                <strong>Password:</strong> [Encrypted]
            </li>
        {% else %}
            <li>No credentials stored yet.</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('de_credentials') }}">
        <input type="submit" value="Decrypt passwords" />
    </form>
    
    <h3>Add New Credential:</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="website">Website</label>
        {{ form.website }}<br>

        <label for="username">Username</label>
        {{ form.username }}<br>

        <label for="password">Password</label>
        {{ form.password }}<br>

        <button type="submit">Add Credential</button>
    </form>

    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>